.App {
  text-align: left;
  font-family: "ProximaNovaSemibold", sans-serif;
  color: #444;

  margin: 0 auto;
}
html {
  background-color: #f1f6fe;
  max-width: 100vw;

  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
}
a {
  color: #4a89f3;
}
/* Simple dashboard grid CSS */
.storyCard {
  line-height: 2rem;
  font-family: "ProximaNovaSemibold", sans-serif;
}
/* Assign grid instructions to our parent grid container */
.grid-container {
  /* display: grid; */
  /* grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh; */
  position: relative;
}

/* Give every child element its grid name */
.header {
  /* grid-area: header; */
  background-color: #4a89f3;
}

.sidenav {
  /* grid-area: sidenav; */
  background-color: #394263;
}

.main {
  /* grid-area: main; */
  background-color: #f1f6fe;
  /*overflow-y: auto;*/
}

.footer {
  /* grid-area: footer; */
  background-color: #4a89f3;
  height: 50px;

  /* line-height: 50px; */
}

.header,
.footer,
.header > div,
.footer > div {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 33px;
  background-color: #4a89f3; */
  min-height: 50px;
}
.header__avatar {
  background-color: #fff;
  /* height: 50px; */
  padding: 9px 33px;
  margin-right: -33px;
  /* line-height: 50px; */
  cursor: pointer;

}
.header__avatar i {
  margin-left: 22px;
  font-size: 2rem;
  vertical-align: middle;
}
.sidenav {
  display: flex; /* Will be hidden on mobile */
  flex-direction: column;
  /* grid-area: sidenav; */
  background-color: #394263;
  margin-top: 20px;

  border-radius: 5px;
}
.sidenav__list {
  padding: 0;
  margin-top: 25px;
  list-style-type: none;
}
.sidenav__list-item {
  text-align: left;
  padding: 0;
  color: #444;
}
.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  background-color: #ebebec;
  color: #444;
  border-radius: 5px;
  flex-direction: column;

  text-align: left;
  box-shadow: 1px 1px #d9e6fd;
}

.main-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  min-height: 150px; /* Force our height since we dont have actual content yet */
  background-color: #ddd;
  color: #444;
  border-radius: 5px;
  box-shadow: 1px 1px #d9e6fd;
}
.main-block.dangerous {
  background-color: #ddd;
}
.main-block__heading {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.2rem;
}
.main-block__updates {
  text-align: left;
}
.main-block__updates p {
  font-size: 1.2rem;
  line-height: 1.6;
}
.main-overview {
  display: grid;
  /* grid-template-columns: repeat(
    auto-fit,
    minmax(265px, 1fr)
  ); Where the magic happens */
  /* grid-auto-rows: 94px;
  grid-gap: 20px; */
  margin: 20px;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px #d9e6fd;
  margin-bottom: 20px;
}
.overviewcard:last-child {
  margin-bottom: 0;
}
.tags_list {
  width: calc(100% - 230px);
  padding-right: 80px;
}
.main-cards {
  column-count: 1;
  column-gap: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  /* -webkit-column-break-inside: avoid; */
  padding: 24px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "ProximaNovaLight";
  box-shadow: 1px 1px #d9e6fd;
  position: relative;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: row;
  max-width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.grid-container {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer"; */
  /* height: 100vh; */
}

.sidenav {
  display: none;
  /* grid-area: sidenav; */
  background-color: #fff;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}
@media only screen and (max-width: 46.875em) {
  .card {
    flex-direction: column;
  }
  .tags_list {
    width: 100%;
    padding-right: 0;
  }
}
/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    /* grid-template-columns: 300px 1fr; 
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer"; */
  }
  .sidenav {
    display: flex;
    flex-direction: column;
  }
}
/* Medium-sized screen breakpoint (tablet, 1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 1;
  }
}

/* Hamburger menu icon, stays fixed on mobile for any possible scrolling */
.menu-icon {
  position: absolute;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #dadae3;
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 51px;
  color: #fff;
  /* line-height: 50px; */
}

/* Mobile-first side nav styles */
.sidenav {
  /* grid-area: sidenav; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  position: fixed;
  /* overflow-y: scroll; */
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); */
  box-shadow: 1px 1px #d9e6fd;
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #fff;
  transform: translateX(-300px);
  transition: all 0.6s ease-in-out;
  top: 0;

  bottom: 0;

  overflow: auto;
  margin-top: 0;
}

/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
  transform: translateX(0);
}

/* Only visible on mobile screens */
.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #444;
}

/* Non-mobile styles for side nav responsiveness, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .sidenav {
    position: relative; /* Fixed position on mobile */
    transform: translateX(0);
    top: initial;
    bottom: initial;
    overflow: initial;margin-top: 20px;
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
  .menu-icon {
    display: none;
  }
  .header__search {
    margin-left: 27px;
  }
}

.accordion-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 30rem;
  overflow: hidden;
  color: #444;
  font-family: "San Francisco";
  font-weight: 400;
}
.accordion-list__item + .accordion-list__item {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.accordion-item--opened {
  background-color: #eee;
}
.accordion-item--opened .accordion-item__icon {
  transform: rotate(90deg);
}
.accordion-item--opened .accordion-item__inner {
  max-height: 100rem;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.2s;
  transition-property: max-height;
}
.accordion-item--opened .accordion-item__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity, transform;

  padding-left: 36px;
}
.accordion-item__line {
  display: block;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}
.accordion-item__title {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 500;
  /*color: #121212;*/
}

.accordion-item__link-icon {
  margin-right: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: baseline;
  color: #4a89f3;
}
.accordion-item__icon {
  width: 1.6rem;
  height: 1.6rem;
  transition: transform 0.3s ease-in-out;

  text-align: right;
  font-size: 1.6rem;
  transform-origin: center center;
  line-height: 1.6rem;
  text-align: center;
  vertical-align: middle;
}
.accordion-item__icon.fa-link,
.accordion-item__icon.fa-external-link-square {
  font-size: 1rem;
}
.accordion-item__inner {
  max-height: 0;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 0.2s;
  transition-property: max-height;
  z-index: 1;
  position: relative;
}
.accordion-item__content {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.1s;
  transition-property: opacity, transform;
  transition-delay: 0.5s;
  padding: 0 1.2rem 1.2rem;
}
.accordion-item__paragraph {
  margin: 0;
  font-size: 1rem;
  color: #444;

  font-weight: 300;
  line-height: 1.3;
  font-family: "San Francisco";
  font-weight: 400;
}
.accordion-item__paragraph .accordion-subitem__title {
  list-style: none;

  color: #444;

  font-family: "San Francisco";

  font-weight: 400;
}
.accordion-item__submenu {
  list-style: none;
}
.overviewcard__icon {
  font-size: 1.2rem;
}
.button {
  background-color: #fff;
  border-radius: 3px;
  color: #444;
  font-size: 1rem;
  padding: 0.5rem;
  min-width: 3rem;
  text-align: center;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.34);
  font-family: "ProximaNovaSemibold", sans-serif;
  cursor: pointer;
  line-height: 1.4;
}
.button.blue {
  background-color: #4a89f3;
  color: #fff;
}
.button.red {
  background-color: #ff3b3b;
  color: #fff;
}
.button.y {
  background-color: #eca350;
  color: #fff;
}
.button.green {
  background-color: #27aa9a;
  color: #fff;
}
.button.abs {
  position: absolute;
  top: 20px;
  right: 20px;
}
.two_columns_list {
  list-style: none;
  padding: 0;
}
.card_title {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "ProximaNovaSemibold", sans-serif;
  margin-top: 10px;
}
.two_columns_list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
  border-bottom: 1px solid #ccc;
}
.two_columns_list li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.two_columns_list li > div {
  width: 50%;
}
.two_columns_list li > div + div {
  padding-left: 3rem;
}

@media only screen and (max-width: 65.625em) {
  .two_columns_list li {
    flex-direction: column;
    align-items: flex-start;
  }
  .two_columns_list li > div {
    width: 100%;
    width: 100%;
    padding: 0 0 20px;
  }
  .two_columns_list li > div + div {
    padding-left: 1rem;
  }
}

.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px !important;
}

input[type="checkbox"].flat-checkbox,
input[type="radio"].flat-checkbox {
  display: none;
}
input[type="checkbox"].flat-checkbox + label,
input[type="radio"].flat-checkbox + label {
  line-height: 20px;
  height: 20px;
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 25px;
}
input[type="checkbox"].flat-checkbox + label:before,
input[type="checkbox"].flat-checkbox + label:after,
input[type="radio"].flat-checkbox + label:before,
input[type="radio"].flat-checkbox + label:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
input[type="checkbox"].flat-checkbox + label:before,
input[type="radio"].flat-checkbox + label:before {
  height: 20px;
  width: 20px;
  border: 2px solid #444;
}
input[type="checkbox"].flat-checkbox + label:after,
input[type="radio"].flat-checkbox + label:after {
  height: 8px;
  width: 8px;
  background-color: transparent;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  margin-top: 6px;
  margin-left: 6px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: border-color 200ms linear, border-width 200ms linear;
  -o-transition: border-color 200ms linear, border-width 200ms linear;
  -webkit-transition: border-color 200ms linear, border-width 200ms linear;
  transition: border-color 200ms linear, border-width 200ms linear;
}
input[type="checkbox"].flat-checkbox:checked + label:after,
input[type="radio"].flat-checkbox:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border-color: #444;
  -moz-transition: border-color 200ms linear, border-width 200ms linear;
  -o-transition: border-color 200ms linear, border-width 200ms linear;
  -webkit-transition: border-color 200ms linear, border-width 200ms linear;
  transition: border-color 200ms linear, border-width 200ms linear;
}
input[type="checkbox"].flat-checkbox:disabled + label,
input[type="radio"].flat-checkbox:disabled + label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: not-allowed;
}
input[type="checkbox"].flat-checkbox.small + label,
input[type="radio"].flat-checkbox.small + label {
  line-height: 16px;
  height: 16px;
  padding-left: 20.8px;
}
input[type="checkbox"].flat-checkbox.small + label:before,
input[type="radio"].flat-checkbox.small + label:before {
  height: 16px;
  width: 16px;
}
input[type="checkbox"].flat-checkbox.small + label:after,
input[type="radio"].flat-checkbox.small + label:after {
  height: 8px;
  width: 8px;
  margin-left: 4px;
  margin-top: 4px;
  border-width: 4px;
}
input[type="checkbox"].flat-checkbox.large + label,
input[type="radio"].flat-checkbox.large + label {
  line-height: 24px;
  height: 24px;
  padding-left: 31.2px;
}
input[type="checkbox"].flat-checkbox.large + label:before,
input[type="radio"].flat-checkbox.large + label:before {
  height: 24px;
  width: 24px;
}
input[type="checkbox"].flat-checkbox.large + label:after,
input[type="radio"].flat-checkbox.large + label:after {
  height: 12px;
  width: 12px;
  margin-left: 6px;
  margin-top: 6px;
  border-width: 6px;
}

input[type="radio"].flat-checkbox + label {
  display: inline-block;
}
input[type="radio"].flat-checkbox + label:before,
input[type="radio"].flat-checkbox + label:after {
  border-radius: 100%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tag {
  height: 2rem;
  font-family: "ProximaNovaSemibold";
  font-size: 1rem;
  background-color: #4a89f3;
  color: #fff;
  border-radius: 1rem;
  display: inline-block;
  line-height: 2rem;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 0.4rem;
}
.tag i.fa-tag {
  margin-left: -6px;
  margin-right: 5px;
}
.tag i.fa-folder-open {
  font-size: 0.8rem;
  margin-left: -5px;
  margin-right: 8px;
}
.tag i.fa-times {
  margin-right: -5px;
  margin-left: 8px;
}
.main-monoblock {
  text-align: left;
  margin: 20px;
  display: flex;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 1px 1px #d9e6fd;
}
.main-monoblock.blue {
  background-color: #4a89f3;
  color: #fff;
  box-shadow: 1px 1px #d9e6fd;
}
.main-monoblock_head {
  font-family: "FuturaRoundCond";
  font-size: 2rem;
}
.main-monoblock_subhead {
  font-family: "ProximaNovaSemibold";
  font-size: 1.2rem;
}
.main-monoblock.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.select {
  width: 200px;
}
.select div[class*="control"] {
  border-color: #4a89f3;
}
.select span[class*="indicatorSeparator"] {
  background-color: #4a89f3;
}
.select div[class*="menu"] {
  border: 1px solid #4a89f3;
}

.select svg {
  color: #4a89f3;
}

.react-datepicker-ignore-onclickoutside,
.react-datepicker__input-container > input {
  width: 200px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  cursor: default;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  padding: 10px;
  transition: all 100ms;
  box-sizing: border-box;
  border: 1px solid #4a89f3;
}
.react-datepicker {
  border: 1px solid #4a89f3;
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-bottom-color: #4a89f3;
}
.brand_tittle {
  font-family: "FuturaRoundCond", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
}
.brand_tittle_small {
  font-family: "FuturaRoundCond", sans-serif;
  font-size: 1.2rem;
  line-height: 40px;
  margin-top: 0;
}
.textarea_card {
  resize: none;
  width: 100%;
  white-space: normal;
  height: 153px;
  overflow: auto;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  padding: 20px 0;
  font-family: "ProximaNovaSemibold";
  font-size: 1.4rem;
  overflow-wrap: break-word;
  white-space: pre-wrap !important;
}
.grey {
  color: #999;
}

.StoryText {
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 40px;
  display: flex;
  text-align: left;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 1px 1px #d9e6fd;
  position: relative;
}
.StoryText .main-monoblock_head {
  font-size: 2rem;
}
.bigText {
  height: 500px;
  width: 100%;
  resize: none;
  font-family: "ProximaNovaSemibold";
  font-size: 1.2rem;
  line-height: 2;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 200px;
  cursor: pointer;
}

.react-datepicker--time-only .react-datepicker__time-container {
  cursor: pointer;
  width: 200px;
}
.react-datepicker-ignore-onclickoutside,
.react-datepicker__input-container > input {
  font-size: 1rem;
  cursor: pointer;
}

.fa.abs {
  position: absolute;
  top: 14px;
  right: 14px;
}
.hint {
  position: absolute;
  left: 2rem;
  bottom: -1.7rem;
  color: #666;
  font-size: 1rem;
  font-family: "ProximaNovaRegular", sans-serif;
}
.responsiveTable {
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.responsiveTable tr:odd {
  background-color: #ccc;
}
